<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>Gestor de tareas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/my_profile.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>
    <div class="contenedor">
        <div class="PaneltituloPagina">
            <h2>Tu perfil <%=usuario.nombre%></h2>
        </div>
        <form id="formularioPerfil" method="POST" name="perfil" action="updateProfile" enctype="multipart/form-data">
            <%- include("flash") %>
            <div class="panelPerfil">
                <div class="fotoPerfil">
                    <tr>
                        <td><img src="/imagen/<%=usuario.email%>" class="imagenPerfil"></td>
                    </tr>
                </div>
                <div class="datosPerfil">
                    <label for="email">E-Mail </label>
                    <input type="text" name="email" id="email" value="<%=usuario.email%>" class="textoNegro" />
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%=usuario.nombre%>" class="textoNegro" />
                    <label for="apellidos">Apellidos</label>
                    <input type="text" name="apellidos" id="apellidos" value="<%=usuario.apellidos%>"
                        class="textoNegro" />
                    <label for="sexo" name="sexo">Sexo</label>
                    <div class="radios">
                        <input type="radio" class="radioB" name="sexo" value="Mujer" id="femenino" <%if (usuario.genero=="Mujer"
                            ) {%>checked <%}%> >Mujer
                        <input type="radio" class="radioB" name="sexo" value="Hombre" id="masculino" <%if
                            (usuario.genero=="Hombre" ) {%>checked <%}%> >Hombre
                        <input type="radio" class="radioB" name="sexo" value="otro" id="otro" <%if (usuario.genero=="otro"
                            ) {%>checked <%}%> >Otro
                    </div>
                    <label for="fechaNac">Fecha de Nacimiento</label>
                    <input type="date" name="date" id="fechaNac" value="<%=usuario.dateBirth%>" class="textoNegro">
                        <label for="foto">Imagen de perfil</label>
                        <input type="file" name="foto" id="foto" accept="image/x-png,image/gif,image/jpeg" />
                        <div class="margen">
                            <a href="my_profile" class="boton botonRojo modificarPerfil">Cancelar</a>
                            <input type="submit" name="modificarPerfil" class="boton botonVerde modificarPerfil"
                                value="Guardar cambios">
                        </div>
                    </div>
                </div>
        </form>
    </div>
</body>

</html>