<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisycBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/friends.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>
    <div class="contenedor">
        <div class="PaneltituloPagina">
            <h2 class="tituloAmigos">AMIGOS</h2>
            <div class="buscardorAmigos">
                <form action="searchAmigos" method="POST">
                    <input type="search" name="nombre" placeholder="Buscar Amigos...">Buscar por nombre:
                    <input type="submit" name="buscar" id="buscar" value="Buscar">
                </form>
            </div>

        </div>

        <h2>Lista de solicitudes</h2>
        <%if (solicitudes.length>0) {%>
        <div class="panelSolocitudAmistad">
            <div class="solicitudes">
                <!-- <%= amigos[0].nombre %> -->
                <ul>
                    <% solicitudes.forEach(function(solicitud) { %>
                    <li>
                        <%= solicitud.nombre %>
                    </li>
                    <% }); %>
                </ul>

            </div>
        </div>
        <%}else{%>
        <h3>No tienes solicitudes de momento</h3>
        <%}%>
        <div class="busquedaDeAmigos">

            <ul id="listaBusqueda">

            </ul>
        </div>
        <h2>Lista de amigos</h2>
        <%if (amigos.length>0) {%>
        <div class="amigos">
            <!-- <%= amigos[0].nombre %> -->
            <ul>
                <% amigos.forEach(function(amigo) { %>
                <li>
                    <tr>
                        <td>
                            <%= amigo.nombre %>
                        </td>
                        <td><img src="/imagen/<%=amigo.email%>" class="imagenPerfil"></td>
                    </tr>
                </li>
                <% }); %>
            </ul>

        </div>
        <%}%>
    </div>
</body>