<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisycBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/friends.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>
    <div class="contenedor">
        <div class="PaneltituloPagina">
            <h2 class="tituloAmigos">AMIGOS</h2>
            <form action="searchAmigos" class="buscardorAmigos" method="POST">
                <input type="search" name="nombre" id="txtBuscar" placeholder="Buscar Amigos...">
                <input type="submit" name="buscar" id="btnBuscar" value="Buscar">
            </form>
        </div>
        <%- include("flash") %>
        <%if (solicitudes.length>0) {%>
            <h2>Lista de solicitudes</h2>
        <div class="panelSolocitudAmistad">
            <div class="solicitudes">
                <ul>
                    <% solicitudes.forEach(function(solicitud) { %>
                    <li>
                        <div class="solicitudesAmigos">
                            <a href="user_profile?id=<%=solicitud.id%>">
                                <img src="/imagen/<%=solicitud.email%>" class="imagenPerfil">
                            </a>
                            <a href="user_profile?id=<%=solicitud.id%>" class="enlacePersona">
                                <p class="nombreUsuario"><%=solicitud.nombre%>, <%= solicitud.apellidos%></p>
                            </a>
                            <a href="/acceptFriend?id=<%=solicitud.id%>" class="boton botonVerde botonSmall">Aceptar</a>
                            <a href="/rejectFriend?id=<%=solicitud.id%>" class="boton botonRojo  botonSmall">Rechazar</a>
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
            <div class="solicitudesEnviadas">
                    <ul>
                        <% solHechas.forEach(function(solicitud) { %>
                        <li>
                            <div class="solicitudesAmigos">
                                <a href="user_profile?id=<%=solicitud.id%>">
                                    <img src="/imagen/<%=solicitud.email%>" class="imagenPerfil">
                                </a>
                                <a href="user_profile?id=<%=solicitud.id%>" class="enlacePersona">
                                    <p class="nombreUsuario"><%=solicitud.nombre%>, <%= solicitud.apellidos%></p>
                                </a>
                                solicitud enviada
                                <!-- <a href="/acceptFriend?id=<%=solicitud.id%>" class="boton botonVerde botonSmall">Aceptar</a> -->
                                <!-- <a href="/rejectFriend?id=<%=solicitud.id%>" class="boton botonRojo  botonSmall">Rechazar</a> -->
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
        </div>
        <%}else{%>
        <h3>No tienes solicitudes de momento</h3>
        <%}%> 
        <h2>Lista de amigos</h2>
        <%if (amigos.length>0) {%>
        <div class="amigos">
            <ul>
                <% amigos.forEach(function(amigo) { %>
                <li>
                    <a href="user_profile?id=<%=amigo.id%>">
                        <img src="/imagen/<%=amigo.email%>" class="imagenPerfil">
                    </a>
                    <a href="user_profile?id=<%=amigo.id%>">
                        <p class="nombreUsuario"><%= amigo.nombre %>, <%= amigo.apellidos%></p>
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>
        <%}%>
    </div>
</body>