<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisicBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/my_profile.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
    <script src="app.js"></script>

</head>

<body>
    <%- include("header_login") %>
    <div class="contenedor">
        <div class="PaneltituloPagina">
        <h2>TU PERFIL <%=usuario[0].nombre%> </h2>
        </div>
        <form id="formularioPerfil" method="POST" name="perfil" action="modificarPerfil"> 
            <div class="panelPerfil">
                <!-- <img src="../img/calavera.png" class="calavera"> -->
               <div class="fotoPerfil">
                        <tr>
                        <td><img src="/imagen/<%=usuario[0].email%>" class="imagenPerfil"></td>
                        </tr>
                    <!-- <img src="../img/perfil.png" alt="imagen de perfil" class="imagenPerfil"> -->
               </div>
               <div class="datosPerfil">  
                <p class="nombre">  <%=usuario[0].nombre%> 
                <p class="sexo"> <%=usuario[0].genero%></p>
                <p class="edad"> <%= edad %>  </p>
                <p class="puntos"> <%=puntos%> puntos</p>
               </div>
               <input type="submit" name="modificarPerfil" id="modificarPerfil" value="Modificar Perfil">
            </div>
        </form>
    </div>

</body>

</html>