<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>Gestor de tareas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/my_profile.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header_login") %>
    <div class="contenedor">
        <div class="PaneltituloPagina">
            <h2>TU PERFIL</h2>
        </div>
        <form id="formularioPerfil" method="POST" name="perfil" action="modificarPerfil">
            <div class="panelPerfil">
                <img src="../img/calavera.png" class="calavera">
                <div class="fotoPerfil">
                    <img src="../img/perfil.png" alt="imagen de perfil" class="imagenPerfil">
                </div>
                <div class="datosPerfil">
                    <p class="nombre">
                        <%= usr.nombre %>
                    </p>
                    <p class="edad">
                        <%=usr.edad%>
                    </p>
                    <p class="sexo">
                        <%=usr.sex%>
                    </p>
                    <p class="puntos">
                        <%=usr.puntos %>
                    </p>
                </div>
                <input type="submit" name="modificarPerfil" id="modificarPerfil" value="Modificar Perfil">
            </div>
        </form>
    </div>

</body>

</html>