<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisicBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/my_profile.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/carrousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>
    <div class="contenedor">
        <div class="PaneltituloPagina">
            <h2>Tu perfil <%=usuario[0].nombre%></h2>
        </div>
        <div class="panelPerfil">
            <div class="fotoPerfil">
                <img src="/imagen/<%=usuario[0].email%>" class="imagenPerfil">
            </div>
            <div class="datosPerfil">
                <p class="nombre"><%=usuario[0].nombre%> <%=usuario[0].apellidos%></p>
                <p class="sexo"><%=usuario[0].genero%></p>
                <p class="edad"><%=usuario[0].years%></p>
                <p class="puntos"><%=usuario[0].puntos%> puntos</p>
            </div>
            <a href="editProfile" class="modificarPerfil">Modificar Perfil</a>
        </div>
        <div class="panelFotos">
            <div class="subirfoto">
                <form id="formularioPerfil" method="POST" name="perfil" action="uploadPhoto"
                    enctype="multipart/form-data">
                    <%- include("flash") %>
                    <input class="textoNegro todoAncho" type="text" name="descripcion" id="descripcion"
                        placeholder="Descripcion foto" />
                    <input class="todoAncho" type="file" name="foto" id="foto"
                        accept="image/x-png,image/gif,image/jpeg" />
                    <div class="margen">
                        <input type="submit" name="subirFoto" class="boton botonVerde botonFormularioEstrecho"
                            value="Subir">
                    </div>
                </form>
            </div>
            <div class="wrapper">
                <%- include('carrousel') %>
            </div>
        </div>
    </div>
</body>

</html>