<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisicBook</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/preguntas.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
    <script src="jquery/query.js"></script>
</head>

<body>
    <%- include("header") %>
    <div class=contenedor>
        <%- include("flash") %>
        <% if(locals.errorMsg){%>
        <div class="caja_errores">
            <%= errorMsg %>
        </div>
        <%}%>
        <div class="PanelPreguntas">
            <%if (preguntas.length>0) {%>
            <div class="preguntasAleatorias">
                <p>Preguntas seleccionadas aleatoriamente</p>
                <ul>
                    <% preguntas.forEach(function(p) { %>
                    <li>
                        <a name="pregunta" href="mostrarRespuestas?id=<%=p.id%>">
                            <div>
                                <%= p.texto %>
                            </div>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <%}%>
        <%if (sePuedeCrearPregunta) {%>
        <div class=crearpregunta>
            <a id="creaPreguntaId" href="creaPregunta">Crear nueva pregunta</a>
        </div>
        <%}%>
        <%if (creandoPregunta) {%>
            <form action="insertarPregunta" method="POST"> 
                    <div>Pregunta:<input type="text" name="preguntaText" id="preguntaText" ></div>
                    <div>Respuestas:</div>
                    <ul id="listaRespuestas">
                    </ul>
                    <input type="submit" id="insertarP" name="insertarP" value="Insertar Pregunta">
            </form>  
            <div>   
                    <button id="anyadirRespuesta"> Agregar Respuesta </button>
            </div>
        <%}%>

    </div>
</body>