<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisicBook</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/preguntas.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
    <script src="jquery/query.js"></script>
</head>

<body>
    <%- include("header") %>
    <div class=contenedor>
        <%- include("flash") %>
        <h2 class="espaciadoTitulo"><%=pregunta.texto%></h2>

        <%if (pregunta.respondido ==0) {%>
        <div class="elegirRespuestas">
            <form action="responder" method="POST">
                <input type="text" name="idPregunta" class="oculto" value=<%=pregunta.id%>>
                <ul class="indentacion">
                    <% respuestas.forEach(function(respuesta) { %>
                    <li>
                        <input type="radio" class="radio" name="respuesta" value=<%=respuesta.id%>>
                        <%= respuesta.texto %>
                    </li>
                    <% }); %>
                </ul>
                <div>
                    <button class="boton botonFormularioEstrecho" id="anyadirRespuestaPropia">Añadir mi respuesta</button>
                </div>
                <hr>
                <div>
                    <input class="boton botonFormularioEstrecho" type="submit" id="responder" name="responder" value="Responder">
                </div>
            </form>
        </div>
        <%} else {%>
        <h2 class="espaciadoTitulo yaRespondida">Ya has contestado a esta pregunta</h2>
        <%}%>
        <%if (amigosQueHanContestado.length > 0) {%>
            <div class="PanelAmigosComunAPregunta">
                <div class="AmigosQueHanContestado">
                    <ul>
                        <% amigosQueHanContestado.forEach(function(amigo) { %>
                        <li>
                            <div class="RespuestasAmigos">
                                <a href="user_profile?id=<%=amigo.id%>">
                                    <img src="/imagen/<%=amigo.email%>" class="imagenPerfil">
                                </a>
                                <a href="user_profile?id=<%=amigo.id%>" class="enlacePersona">
                                    <p class="nombreUsuario"><%=amigo.nombre%>, <%= amigo.apellidos%></p>
                                </a>
                                <a href="/Adivinar?id=<%=amigo.id%>" class="boton botonVerde botonSmall">Adivinar</a>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <%}%> 
        
 
                </div>
    


    
    </div>

</body>