<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisycBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/friends.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>
    <div class="contenedor">
        <div class="PaneltituloPagina">
            <h2 class="tituloAmigos">AMIGOS</h2>
            <form action="
                    " class="buscardorAmigos" method="POST">
                <input type="search" name="nombre" id="txtBuscar" placeholder="Buscar Amigos...">
                <input type="submit" name="buscar" id="btnBuscar" value="Buscar">
            </form>
        </div>

        <%- include("flash") %>
        <%if (personas.length>0) {%>
        <h2 class="indentacion">Lista de personas encontradas</h2>
        <div class="panelSolocitudAmistad">
            <div class="solicitudes">
                <ul class="indentacion">
                    <% personas.forEach(function(per) { %>
                    <li>
                        <div class="solicitudesAmigos">
                            <a href="user_profile?id=<%=per.id%>">
                                <img src="/imagen/<%=per.email%>" class="imagenListaUsuarios">
                            </a>
                            <a href="user_profile?id=<%=per.id%>" class="enlacePersona">
                                <p class="nombreUsuario"><%=per.nombre%>, <%= per.apellidos%></p>
                            </a>



                            <%if (per.amigos==0) {%>
                            <a href="makeFriends?id=<%=per.id%>" class="boton botonVerde">Agregar</a>
                            <%}%>
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <%}%>
        <%if (personas.length==0) {%>
        <h2>No existe ningún usuario que contenga " <%=busqueda%>" </h2>
        <%}%>
    </div>
</body>