<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisycBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/friends.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>
    <div class="contenedor">
            <div class="PaneltituloPagina">
                    <h2 class="tituloAmigos">AMIGOS</h2>
                    <form action="
                    " class="buscardorAmigos" method="POST">
                        <input type="search" name="nombre" id="txtBuscar" placeholder="Buscar Amigos...">
                        <input type="submit" name="buscar" id="btnBuscar" value="Buscar">
                    </form>
                </div>
        <h2>Lista de personas encontradas</h2>
        <%- include("flash") %>
        <%if (personas.length>0) {%>
        <div class="panelSolocitudAmistad">
            <div class="solicitudes">
                <ul>
                    <% personas.forEach(function(per) { %>
                    <li>
                       <div class="usuarioBusqueda"> <img src="/imagen/<%=per.email%>" class="fotoUsuarioBusqueda">
                        <%=per.nombre%>,<%= per.apellidos%>
                        <a href="makeFriends?id=<%=per.id%>" class="boton botonVerde">Agregar</a>
                    </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <%}%>
    </div>
</body>