<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisicBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/my_profile.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>
    <div class="contenedor">
        <div class="PaneltituloPagina">
            <h2>TU PERFIL
                <%=usuario[0].nombre%>
            </h2>
        </div>
        <div class="panelPerfil">
            <div class="fotoPerfil">
                <tr>
                    <td><img src="/imagen/<%=usuario[0].email%>" class="imagenPerfil"></td>
                </tr>
            </div>
            <div class="datosPerfil">
                <p class="nombre">
                    <%=usuario[0].nombre%>
                </p>
                <p class="sexo">
                    <%=usuario[0].genero%>
                </p>
                <p class="edad">
                    <%=usuario[0].years%>
                </p>
                <p class="puntos">
                    <%=usuario[0].puntos%> puntos</p>
            </div>
        </div>
    </div>
</body>

</html>