<!DOCTYPE html>
<html>

<head>
    <title>Validación de formularios</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <meta charset="UTF-8">
</head>

<body>
    <%- include("flash") %>
    <div class="contenedor">
        <h1>Formulario de registro</h1>
        <%if (errores.length>0) {%>
        <div class="caja_errores">
            La información introducida en el formulario es incorrecta:
            <ul>
                <% errores.forEach(function(error) { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }); %>
            </ul>
        </div>
        <%}%>
        <form method="post" action="procesar_formulario">
            <div>Nombre de usuario: <input type="text" name="login">
                <% if (errores.login) { %>
                <span class="rojo">
                    <%= errores.login.msg %> </span>
                <% } %>
            </div>
            <div>Contraseña<input type="password" name="pass">
                <% if (errores.pass) { %>
                <span class="rojo">
                    <%= errores.pass.msg %> </span>
                <% } %>
            </div>
            <div>Email:<input type="text" name="email">
                <% if (errores.email) { %>
                <span class="rojo">
                    <%= errores.email.msg %> </span>
                <%}%>
            </div>
            <div>Fecha de nacimiento(mm-dd-aaaa): <input type="text" name="fechaNacimiento">
                <% if (errores.fechaNacimiento) { %>
                <span class="rojo">
                    <%= errores.fechaNacimiento.msg %> </span>
                <% } %>
            </div>
            <div><input type="submit" name="Aceptar"></div>
        </form>
    </div>
</body>

</html>